.advantages__wrap {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $dekstop-width) {
    padding-bottom: 0;
    margin-bottom: 69px;
  }
}

.advantages__list {
  @include reset-list;
  display: grid;
  gap: 20px;
  counter-reset: adv-number;

  @media (min-width: $tablet-width) {
    padding-right: 68px;
    grid-template-columns: 1fr 1fr;
    gap: 37px 137px;
  }

  @media (min-width: $dekstop-width) {
    padding-right: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 85px;
  }
}

.advantages__item {
  position: relative;
  min-height: 60px;
  padding-left: 80px;


  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--first::before {
    background-image: url("../img/icons/advantages-leaf.svg");
  }

  &--second::before {
    background-image: url("../img/icons/advantages-powder.svg");
  }

  &--third::before {
    background-image: url("../img/icons/advantages-dining.svg");
  }

  &--fourth::before {
    background-image: url("../img/icons/advantages-clock.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 151px 0 57px;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &::after {
      counter-increment: adv-number;
      content: counter(adv-number) "";
      position: absolute;
      left: 118px;
      top: 0;
      font-size: 280px;
      line-height: 280px;
      font-family: $font-title;
      color: $color-bg-second;
      z-index: -1;
    }
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-text-second;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__text {
  position: relative;
  margin: 0;
  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
