.button {
  display: block;
  padding: 7px 0;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-btn;
  background-color: $color-bg;
  text-decoration: none;
  border: none;

  &--program {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      padding: 14px 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--second {
    color: $color-text;
    background-color: $color-bg-second;
  }
}
