.button {
  display: block;
  padding: 7px 0;
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-btn;
  background-color: $color-bg;
  text-decoration: none;
  border: none;

  &:hover {
    background-color: $color-bg-hover;
  }

  &:active {
    color: rgba($color-text-btn, 0.5);
  }

  &--program {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      padding: 14px 0;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--second {
    color: $color-text;
    background-color: $color-bg-second;

    &:hover {
      background-color: $color-bg-second-hover;
    }

    &:active {
      background-color: rgba($color-bg-second-hover, 0.3);
      color: rgba($color-text, 0.3);
    }
  }
}
