.catalog-show {
  @media (min-width: $tablet-width) {
    padding-top: 81px;
  }
}

.catalog-show__container {
  position: relative;
  padding: 78px 0 25px;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 39px;
    margin: auto;
    width: 30px;
    height: 2px;
    background-color: $color-border-hover;
    content: "";
  }

  &::after {
    rotate: 90deg;
  }

  @media (min-width: $tablet-width) {
    height: 100%;
    padding: 157px 36px 39px;
    border: 2px solid $color-bg-second;

    &::before,
    &::after {
      top: 78px;
      width: 60px;
    }
  }
}

.catalog-show__wrap {
  @media (min-width: $tablet-width) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.catalog-show__text {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 135px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.catalog-show__text-small {
  margin-top: 0;
  margin-bottom: 21px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-text;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 87px;
  }
}
