.categories__wrap {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $dekstop-width) {
    margin-bottom: 71px;
  }
}

.categories__list {
  @include reset-list;
  display: grid;
  gap: 20px;
}

.categories__item {
  padding: 30px 20px 18px;
}
