.contacts {
  position: relative;
}

.contacts__text-wrap {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 40px 56px;
  }

  @media (min-width: $dekstop-width) {
    position: absolute;
    top: 95px;
    min-width: 565px;
    padding: 56px 80px;
    background-color: $color-base;
  }
}

.contacts__welcome {
  margin: 0;
  width: 139px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-second;

  @media (min-width: $tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  width: 139px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 16px;
    text-align: right;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $dekstop-width) {
    text-align: left;
  }
}

.contacts__map {
  display: flex;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  iframe {
    display: block;
    border: none;
    width: 100%;
  }
}
