.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
    width: $tablet-width;
  }
}

@media (min-width: $dekstop-width) {
  .container {
    padding: 0 120px;
    width: $dekstop-width;
  }
}
