.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  &:hover svg {
    fill: $color-bg;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 22px;
  }
}

.copyright__text {
  display: flex;
  align-items: center;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: $color-text;
}

.copyright__logo-image {
  display: block;
}
