.effect {
  background-color: $color-bg-second;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $color-base 0, $color-base 619px, $color-bg-second 619px);
  }

  @media (min-width: $dekstop-width) {
    background: linear-gradient(to bottom, $color-base 0, $color-base 135px, $color-bg-second 135px);
  }
}

.effect__wrap {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 101px;
  }

  @media (min-width: $dekstop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
  }
}

.effect__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-text-second;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $dekstop-width) {
    margin-bottom: 146px;
  }
}

.effect__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $dekstop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.effect__example-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 104px;
  }

  @media (min-width: $dekstop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.effect__example-list {
  @include reset-list;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $dekstop-width) {
    margin-bottom: 55px;
  }
}

.effect__example-price {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-title;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-second;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $dekstop-width) {
    text-align: left;
  }
}

.effect__example-price-value {
  @media (min-width: $tablet-width) {
    display: block;
    text-align: left;
  }

  @media (min-width: $dekstop-width) {
    display: inline;
    margin-left: 63px;
  }
}
