.main-nav {
  &--opened {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 3;
    right: 0;
    background-color: #ffffff;
  }

  &--closed {
    display: none;
  }

  &--nojs {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: auto;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include reset-list;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  position: relative;
  padding: 22px 0 24px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #e6e6e6;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: 0;
    margin-right: 0;
    margin-left: 0;

    &:last-child {
      border-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: 37px;
    }
  }
}

.main-nav__link {
  display: block;
  font-family: $font-title;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-text-second;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 7px;

    &--active {
      border-bottom: 2px solid $color-bg;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $dekstop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $color-base;
    }

    &--active.main-nav__link--index {
      border-bottom: 2px solid $color-base;
    }
  }
}
