.main-nav {
  @media (max-width: calc($tablet-width - 1px)) {
    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }

    &--nojs {
      display: block;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include reset-list;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  position: relative;
  padding: 22px 0 24px;

  @media (max-width: calc($tablet-width - 1px)) {
    border-top: 1px solid #e6e6e6;
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &:not(:first-child) {
      margin-left: 35px;
    }
  }
}

.main-nav__link {
  display: block;
  font-family: $font-title;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-text-second;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 6px;

    &--active {
      border-bottom: 2px solid $color-bg;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $dekstop-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    &--index {
      color: $color-base;
    }

    &--active.main-nav__link--index {
      border-bottom: 2px solid $color-base;
    }
  }
}

.main-nav__toggle {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 25px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: #222222;
      box-shadow: 0 8px #222222, 0 16px #222222;
    }
  }

  &--opened {
    width: 19px;
    height: 19px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 19px;
      height: 2px;
      transform: rotate(-45deg);
      box-shadow: none;
      background-color: #000000;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 19px;
      height: 2px;
      transform: rotate(45deg);
      box-shadow: none;
      background-color: #000000;
    }
  }

  &--nojs {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}
