.main-nav {
  width: 100%;
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  padding: 22px 0 24px;
  border-bottom: 1px solid $color-border;
}

.main-nav__link {
  display: block;
  font-family: $font-title;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-text-second;
}
