.page-main__title {
  padding-top: 27px;
  padding-bottom: 41px;
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-text-second;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}
