.page-header__logo-wrap {
  padding: 10px 54px 17px 20px;
  display: flex;
  align-items: center;
}

.page-header__logo-sign-link {
  margin: 0 auto;
}

.page-header__logo-image {
  display: block;
}
