.page-main__title {
  padding-top: 27px;
  padding-bottom: 41px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-text-second;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 82px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
