.page-index {
  position: relative;

  @media (min-width: $dekstop-width) {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 694px;
      content: "";
      background-color: rgba($color-bg, 0.85);
      z-index: -1;
    }
  }
}
