.page-header {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $dekstop-width) {
    padding-top: 53px;
  }
}

.page-header__button-logo-wrap {
  padding: 10px 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__main-nav {
  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }

  @media (min-width: $dekstop-width) {
    margin-top: 13px;
  }
}

.page-header__logo-image {
  display: block;
  max-width: 100%;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-link {
  display: block;
  max-width: 190px;

  @media (min-width: $tablet-width) {
    max-width: 174px;
  }

  @media (min-width: $dekstop-width) {
    max-width: 202px;
  }
}

.page-header__toggle {
  position: relative;
  display: block;
  margin-top: 5px;
  width: 25px;
  height: 19px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &--closed {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 2px;
      background-color: #222222;
      box-shadow: 0 8px #222222, 0 16px #222222;
    }
  }

  &--opened {
    width: 19px;
    height: 19px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 19px;
      height: 2px;
      transform: rotate(-45deg);
      box-shadow: none;
      background-color: #000000;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 19px;
      height: 2px;
      transform: rotate(45deg);
      box-shadow: none;
      background-color: #000000;
    }
  }

  &--nojs {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}
