.page-header {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $dekstop-width) {
    padding-top: 53px;
  }
}

.page-header__button-logo-wrap {
  padding: 10px 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__logo-wrap {
  width: 191px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    min-height: 52px;
  }

  @media (min-width: $dekstop-width) {
    width: 202px;
    min-height: 59px;
  }
}

.page-header__logo-image {
  display: block;
}
