.products {
  @include reset-list;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 58px 60px;
  }

  @media (min-width: $dekstop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px 80px;
  }
}

.products__item {
  position: relative;

  @media (max-width: calc($tablet-width - 1px)) {
    &::after {
      content: "";
      position: absolute;
      left: -20px;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #d9d9d9;
      width: calc(100% + 40px);
    }
  }
}
