.program {
  position: relative;
}

.program::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 305px;
  background: linear-gradient(180deg, $color-bg 0, $color-bg 302px, #ffffff 302px, #ffffff 100%);
  background-image: url("/img/program-background-mobile.jpg");
  background-position: center;
  z-index: -1;
}

.program__title {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-text-third;
}

.program__text {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-third;
}
