.program {
  padding-top: 27px;
}

.program__wrap {
  position: relative;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 302px;
      z-index: -1;
    }

    &::after {
      background-image: url("../img/program-background-mobile.jpg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &::before {
      background: linear-gradient(180deg, $color-bg 0, $color-bg 302px, #ffffff 302px, #ffffff 100%);
    }
  }
}

.program__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-text-third;
}

.program__text {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: $font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-third;
}

// .program__image {
//   @media (min-width: $tablet-width) {
//     position: absolute;
//     bottom: 0;
//   }
// }
