.program__wrap {
  position: relative;
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    margin-bottom: 0;
  }

  @media (min-width: $dekstop-width) {
    padding-top: 0;
    margin-bottom: 82px;
  }

  @media (max-width: calc($tablet-width - 1px)) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 302px;
      z-index: -1;
    }

    &::after {
      background-image: url("../img/program-background-mobile@1x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 302px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/program-background-mobile@2x.png");
      }
    }

    &::before {
      background: linear-gradient(180deg, #63a73a 0, #63a73a 302px, #ffffff 302px, #ffffff 100%);
    }
  }
}

.program__content-wrap {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 87px;
    padding-bottom: 526px;
  }

  @media (min-width: $dekstop-width) {
    padding-top: 112px;
    padding-left: 80px;
    padding-bottom: 185px;
  }
}

.program__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: $font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $color-text-third;

  @media (min-width: $tablet-width) {
    max-width: 515px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $color-text-second;
    text-align: left;
  }
}

.program__text {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: $font-title;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-third;

  @media (min-width: $tablet-width) {
    max-width: 515px;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    color: $color-text-second;
    text-align: left;
  }

  @media (min-width: $dekstop-width) {
    margin-bottom: 52px;
  }
}

.program__button {
  @media (min-width: $tablet-width) {
    width: max-content;
    padding-left: 26px;
    padding-right: 26px;
  }
}

.program__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: $dekstop-width) {
    position: absolute;
    right: auto;
    left: 448px;
    top: 32px;
    bottom: auto;
    margin: 0;
    z-index: -1;
  }
}
