.promo {
  padding: 187px 60px 43px;
  background: url("../img/gifts.png") no-repeat rgba($color-bg, 0.85);
}

.promo__text {
  margin-top: 0;
  margin-bottom: 0;
  width: 161px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-text-third;
}
