.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 289px;
  padding: 59px 60px 43px;
  text-decoration: none;
  background: url("../img/gifts.png") no-repeat rgba($color-bg, 0.85) center;
  background-size: cover;

  &::before {
    display: block;
    flex-shrink: 0;
    content: "";
    position: static;
    width: 78px;
    height: 80px;
    background: url("../../img/icons/icon_gift.svg") no-repeat center;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    min-height: 200px;
    background-image: url("../../img/gifts-tablet.png");
  }
}

.promo__text {
  margin: 0;
  max-width: 161px;
  font-family: $font-main;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-text-third;
}
