.social__list {
  @include reset-list;
  margin: 0 auto;
  display: grid;
  width: 132px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 22px;
  fill: #666666;

  &:hover svg {
    fill: $color-bg;
  }

  &:active svg {
    opacity: 0.3;
  }
}
